<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label htmlFor="checkInDate">Checkin Date</label>
    <input id="checkInDate" type="date" formControlName="checkInDate" />
    <div
      *ngIf="
        reservationForm.get('checkInDate')?.invalid &&
        reservationForm.get('checkInDate')?.touched
      "
    >
      *Required
    </div>
  </div>

  <div>
    <label htmlFor="checkOutDate">Checkout Date</label>
    <input id="checkOutDate" type="date" formControlName="checkOutDate" />
    <div
      *ngIf="
        reservationForm.get('checkOutDate')?.invalid &&
        reservationForm.get('checkOutDate')?.touched
      "
    >
      *Required
    </div>
  </div>

  <div>
    <label htmlFor="guestName">Guest Name</label>
    <input id="guestName" type="text" formControlName="guestName" />
    <div
      *ngIf="
        reservationForm.get('guestName')?.invalid &&
        reservationForm.get('guestName')?.touched
      "
    >
      *Required
    </div>
  </div>

  <div>
    <label htmlFor="guestEmail">Guest Email</label>
    <input id="guestEmail" type="email" formControlName="guestEmail" />
    <div
      *ngIf="
        reservationForm.get('guestEmail')?.invalid &&
        reservationForm.get('guestEmail')?.touched
      "
    >
      *Required
    </div>
  </div>

  <div>
    <label htmlFor="roomNumber">Room Number</label>
    <input id="roomNumber" type="number" formControlName="roomNumber" />
    <div
      *ngIf="
        reservationForm.get('roomNumber')?.invalid &&
        reservationForm.get('roomNumber')?.touched
      "
    >
      *Required
    </div>
  </div>

  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
